@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.4;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, rgb(26, 29, 73), rgb(0, 10, 43));
}

ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: rgb(41, 41, 75);
    z-index: 1;
    position: sticky;
    top: 0;
    width: 97%;
}
.logo {
    width: 55px;
    height: auto;
    margin: 10px 0px;
    transition: 1s;
}
.logo:hover{
    transform: rotate(360deg);
}
li a {
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    transition: 0.3s;
}
li a:hover {
    padding: 16px 18px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 243, 70);
}

.title {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 2%;
    margin-bottom: 0;
    transition: 0.3s;
}

hr {
    width: 50%;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.films {
    width: 20%;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 9px 8px;
    transition: 0.3s;
}

img:hover {
    box-shadow: none;
    border-radius: 10px;
}

.logo {
    box-shadow: none;
}

.name {
    font-size: 18px;
    max-width: 100%;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 10px;
    border: 1px solid #888;
}

a {
    text-decoration: none;
    color: black;
}

.pa1 {
    background-color: rgb(10, 6, 49);
}

nav {
    margin: 3% 10%;
}

footer {
    text-align: center;
    color: rgb(255, 216, 40);
}
footer p {
    color: white;
    font-size: 15px;
    margin-top: 0;
}
footer h2 {
    margin-bottom: 0;
}
.p1 {
    margin-bottom: 0;
}